name: Generate README

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: python -m pip install --upgrade pip

      - name: Generate README
        run: python generate_readme.py

      - name: Commit and push README
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "Update README.md via GitHub Actions" || echo "No changes to commit"
          
          # Replace remote URL with token-based URL
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/IvanShepeta/LeetCode.git
          git push origin HEAD:master
